<div id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Discretion</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if not active_link %} active {% endif %}" href="/manage">Control Panel</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if active_link == "forms" %} active{% endif %}" href="/manage/forms">Forms</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if active_link == "themes" %} active{% endif %}" href="/manage/themes">Themes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if active_link == "contacts" %} active{% endif %}" href="/manage/contacts">Contacts</a>
        </li>
    </ul>
</div>
