<div id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Discretion</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/manage">Home</a>
        </li>
    </ul>
</div>
